# Virtual environment
venv/
.venv/

# Python cache and build files
__pycache__/
*.pyc
*.pyo
*.pyd
*.py~
*.egg-info/
dist/
build/

# Environment variables
.env

# Log files
server_log.log
client_log.log